<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^subdomain\.example\.com
    RewriteRule ^(.*)$ /subdomain/$1 [L,NC,QSA]

</IfModule>
